@import "../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/variables";

$transparent: rgba(255, 255, 255, 0);
$white: #fff;
$black: #000;
$header-color:#333;
$footer-color: #3c4650;